html,body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  /* background: url('../image/bg.jpg'); */
  background: #f5f5f5;
  font-family: 'Microsoft Yahei'
}
a{
  text-decoration: none;
}

/* input */
.el-input{
  background: none;
}

.el-input.is-disabled .el-input__inner{
  background-color: transparent !important;
}
.el-input .el-input__inner{
  background: none;
  border: none;
  border-radius:0;
  border-bottom: 1px solid #455A64;
  outline: none;
}
.el-input .el-input__inner:focus{
  border-bottom: 1px solid #455A64;
}


/* dialog */
.el-dialog{
  width: 80%;
  min-width: 300px;
  max-width: 500px;
}

/* 分割线 */
.el-divider--horizontal{
  margin: 12px 0 !important;
}